@import "./custom.scss";

// global styling
.btn {
  a {
    text-decoration: none;
  }
}

.content-wrapper {
  min-height: 85vh;
}

body {
  font-family: 'Roboto', sans-serif;
}

// nav styling

.navbar-toggle {
  display: block;
}

.navbar-collapse.collapse {
  display: none !important;
}

.navbar {
  // declaring default values for both states
  .dropdown {
    &--account {
      outline-offset: -1.5px;
      background-color: $primary;
      border-radius: 50%;
    }
    .dropdown-toggle::after {
      display: none;
    }

    &-menu {
      font-size: 14px;
      padding: 12px 0; //font-size change from default messed up alignment so using custom padding.
    }

    button {
      display: flex;
      padding-left: 0;
      padding-right: 0;
    }
  }

  // styling no-scroll state (dark) navbar

  &.navbar-dark {
    .dropdown {
      &--account {
        color: $dark;
        outline: 1.5px solid $white;
        background-color: $primary;
      }
    }
    .nav {
      a.nav-link {
        color: $white;
        position: relative;
      }
    }
  }

  //styling scrolled state (light) navbar

  &.navbar-light {
    .dropdown {
      button {
        @extend .btn-outline-dark;
      }
      &--account {
        color: $dark;
        outline: 1.5px solid $dark;
        background-color: $primary;
      }
    }
    .nav {
      a.nav-link {
        color: $dark;
        position: relative;
      }
    }
  }

}

// index scss
main {
  padding-top: 5%;
}

.mt-25 {
  margin-top: 25%;
}

.card {
  border: none;
  &.hotels {
    background-image: linear-gradient(130deg, $primary, #5d0d1f);
  }
  &.bednbreakfast {
    background-image: linear-gradient(130deg, #ff9464, #644202);
  }
  &.guesthouses {
    background-image: linear-gradient(130deg, #4c8850, #0d2f0b);
  }
  &.others {
    background-image: linear-gradient(130deg, #6470ff, #323238);
  }
}

.card-img-container {
  height: 200px !important;
}

.card-body {
  height: 200px;
  color: white;
}

.card__link--cover {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

// (searchbar)
.container--search {
  padding: 1rem;
  .search {
    position: relative;
    width: 50%;
  .search__input {
    position: relative;
    display: flex;
    input {
      padding: 1rem;
      display: flex;
      width: 100%;
      border: none;
      border-radius: 15px;
    }
  .search__input--icon {
    position: absolute;
    right: 0;
    height:100%;
    background: none;
    display: grid;
    place-items: center;
    border: none;
  }
  }
  .search__result {
    top: 120%;
    width: 100%;
    left: 0;
    position: absolute;
    background: white;
    border-radius: 15px;
    padding: 7px;
    z-index: 2;
    .search__result--card {
      padding: 7px;
      margin-bottom: 7px;
      &:hover {
        background: $light;
      }

      p {
        margin-bottom: 0;
      }


      a {
        text-decoration: none;
      }
    }
  }
  }

}

.banner__button {
  max-width: 300px;
}



// Articles scss

.card {
  flex: 0 0 30%;
  min-width: 300px;
  
  &--link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
}



// Article scss

$featuredHeight: 20vh;
$navbarHeight: 72px;

.article__featured--img {
  min-height: $featuredHeight;
  span {
  margin-top: $navbarHeight !important;
  max-height: $featuredHeight;
  width: 100%;
}
  
}

// Form stylings
.formc {
  background: $white;
  padding: 1rem;
  &--login {
    max-width: 800px;
  }
  &--contact {
    max-width: 800px;
  }
}